<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite verbose="1" name="Carina Tests - API" parallel="methods" thread-count="10">

    <test name="demoBlaze web tests">
        <classes>
            <class name="com.carina.tests.APITest">
                <methods>
                    <include name="testGetEmployee"/>
                    <include name="testGetEmployees"/>
                    <include name="testCreateEmployee"/>
                    <include name="testDeleteEmployee"/>
                    <include name="testUpdateEmployee"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
